/* Header styles */
.header {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* padding: 20px 0; */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header__logo img {
    width: 80px;
    height: 64px;
    padding: 0;
    margin: 0;
    max-width: 100px;
    border-radius: 60px;
}

.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__item {
    display: inline-block;
    margin-right: 20px;
}

.nav__link {
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    cursor: pointer;
}

.nav__link:hover {
    color: #ff6600;
}

.header__icons {
    display: flex;
    align-items: center;
}

.header__icon {
    border: 2px solid skyblue;
    margin-left: 15px;
    padding: 5px 20px;
    border-radius: 10%;
    color: #333333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.header__icon:hover {
    color: #005eff;
}



.nav__item {
  position: relative; 
}

.nav__link {
  display: inline-block;
  position: relative;
}

.nav__link span {
  position: absolute;
  top:-10px;
  right: -20px; 
  background-color: #007bff;
  color: #fff; 
  border-radius: 50%; 
  padding: 4px 8px; 
  font-size: 12px;
}