<header class="header">
  <div class="container">
    <div class="header__logo">
      <a href="#" class="logo">
        <img src="../../assets/img/trenyshop.jpeg" alt="Logo" />
      </a>
    </div>
    <nav class="header__nav">
      <ul class="nav__list">
        <!-- <li class="nav__item"><a href="#" class="nav__link">Home</a></li> -->
        <li class="nav__item">
          <a routerLink="/product" class="nav__link">Shop</a>
        </li>
        <li class="nav__item"><a routerLink="/about" class="nav__link">About</a></li>
        <li class="nav__item"><a routerLink="/cart" class="nav__link">Cart <span>{{totalQuantity}}</span></a></li>
      </ul>
    </nav>
    <div class="header__icons">
      <a routerLink="/login" class="header__icon">Account</a>
      <a routerLink="/admin" class="header__icon">Admin</a>
    </div>
  </div>
</header>
