<header class="header">
  <div class="container">
    <div class="header__logo">
      <a href="#" class="logo">
        <!-- <img src="logo.png" alt="Logo" /> -->
      </a>
    </div>
    <nav class="header__nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
        <!-- <li class="nav__item"><a href="#" class="nav__link">Shop</a></li> -->
          <li class="nav__item"><a routerLink="/product" class="nav__link">Shop</a></li>
        <li class="nav__item"><a href="#" class="nav__link">About</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
      </ul>
    </nav>
    <div class="header__icons">
      <a href="#" class="header__icon"><i class="fa fa-search"></i></a>
      <a href="#" class="header__icon"><i class="fa fa-shopping-cart"></i></a>
    </div>
  </div>
</header>
