<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!-- Logo -->
        <img src="../../assets/img/trenyshop.jpeg" alt="TrendyShop Logo">
        <p>&copy; 2024 TrendyShop. All rights reserved.</p>
        <p>123 Fashion Ave, Trendy City, TC12345</p>
      </div>
      <div class="col-md-3">
        <ul class="social-links">
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">LinkedIn</a></li>
          <li><a href="#">Pinterest</a></li>
          <!-- Add more social media links as needed -->
        </ul>
      </div>

      <div class="col-md-3">
        <ul class="social-links">
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">LinkedIn</a></li>
          <li><a href="#">Pinterest</a></li>
          <!-- Add more social media links as needed -->
        </ul>
      </div>

    </div>
  </div>
</footer>
