/* global-styles.css */
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.cart {
  margin-top: 20px;
}

.cart-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  position: relative;
}

.cart-item img {
  width: 200px;
  height: 150px;
}

/* cart.component.css */
.summary,
.delivery,
.actions {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.summary h2,
.delivery h2,
.actions h2 {
  margin-bottom: 10px;
}

.summary p,
.delivery p {
  margin: 5px 0;
}

.actions button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.actions button:hover {
  background-color: #0056b3;
}
.delete-btn {
  height: 28px;
  width: 90px;
  background-color: #eb4343;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: absolute;
  right: 30px;
  bottom: 20px;
  color: white;
  font-size: 17px;
  cursor: pointer;
}
