<div>
  <h2 class="textLabel">Product Detials</h2>
  <div class="product-details">
    <h2>{{ product?.productName }}</h2>
    <p class="description">{{ product.productDescription }}</p>
    <p class="price">Price: ${{ product.productPrice }}</p>
    <img
      class="product-image"
      [src]="product.productImgUrl"
      alt="Product Image"
    />
    <p class="category">Category: {{ product.productCategoryName }}</p>
    <p class="category-description">{{ product.productCategoryDescription }}</p>
    <button class="button" (click)="addToCart(product.id)">Add to Cart</button>
  </div>
</div>
